<%- include('../partials/header.ejs')%>
    <h1 class="beamerFans2">BMW Car Shows</h1>
    <fieldset>
        <%bmw.forEach(beamer=>{ %>
            <%if(beamer.topic=="BMW Car Shows"){%>

                <div class="classicShow">
                    <img alt="nothing" class="bmwLogoBody1" src=<%=beamer.image%> height="80">
                    <div class="classics">
                        <h2 class="classicBeam"><a href="/bmw/<%=beamer.id%>">
                                <%=beamer.name%>
                            </a> </h2>
                        <h3 class="classicBeam">
                            <%=beamer.details%>
                        </h3>
                    </div>
                </div>
                <hr class="hr1">

                <%}%>
                    <%});%>
    </fieldset>
    <h1 class="beamerFans2">BMW Drag Races</h1>
    <fieldset>
        <%bmw.forEach(bmw=>{
            if(bmw.topic =="BMW Drag Races"){%>
            <div class="classicShow">
                <img alt="nothing" class="bmwLogoBody1" src=<%=bmw.image%> height="80">
                <div class="classics">
                    <h2 class="classicBeam"><a href="/bmw/<%=bmw.id%>">
                            <%=bmw.name%>
                        </a> </h2>
                    <h3 class="classicBeam">
                        <%=bmw.details%>
                    </h3>
                </div>
            </div>
            <hr class="hr1">
            <%}%>

                <%});%>
    </fieldset>
    <%bmw.forEach(bmw=>{
        if(bmw.topic !="BMW Drag Races" && bmw.topic !="BMW Car Shows"){%>
            <h1 class="beamerFans1"><%=bmw.topic%></h1>
        <fieldset>
            <div class="classicShow">
                <img alt="nothing" class="bmwLogoBody1" src=<%=bmw.image%> height="80">
                <div class="classics">
                    <h2 class="classicBeam"><a href="/bmw/<%=bmw.id%>">
                            <%=bmw.name%>
                        </a> </h2>
                    <h3 class="classicBeam">
                        <%=bmw.details%>
                    </h3>
                </div>
            </div>
            <hr class="hr1">
            <%}%>

                <%});%>
        </fieldset>
        <%- include('../partials/footer')%>