<%- include('../partials/header.ejs')%>
    <p class="profileName">Welcome <%= user.firstName + " " + user.lastName%>
    </p>
    <%if(bmw.length){%>
        <p class="profileName">You have created the following events</p>
        <table class="tableProfile">
            <tr>
                <th>Event</th>
                <th> Category</th>
                <th>Actions</th>
            </tr>
            <%bmw.forEach(bmw=>{%>
                <table class="tableProfile">
                    <tr class="tr">
                        <td>
                            <a href="/bmw/<%=bmw.id%>">
                                <%=bmw.name%>
                            </a>
                        </td>
                        <td>
                            <%=bmw.topic%>
                        </td>
                        <td>
                            <form>
                                <button type="submit" formmethod="GET"
                                    formaction="/bmw/<%=bmw.id%>/edit">Update</button>
                                <button type="submit" formmethod="POST"
                                    formaction="/bmw/<%=bmw.id%>?_method=DELETE">Delete</button>
                            </form>
                        </td>
                    </tr>
                </table>
        </table>
        <%}) } else{%>
            <p class="profileName">You have not created any events</p>
            <%}%>
                <br>
                <%if(rsvp.length){%>
                    <table class="tableProfile">
                        <tr>
                            <th>Event</th>
                            <th> Category</th>
                            <th> Attending?</th>
                            <th>Actions</th>
                        </tr>
                        <%rsvp.forEach(rsvp=>{%>
                            <table class="tableProfile">
                                <tr class="tr">
                                    <td>
                                        <a href="/bmw/<%=bmw.id%>">
                                            <%=rsvp.title%>
                                        </a>
                                    </td>
                                    <td>
                                        <%=rsvp.category%>
                                    </td>
                                    <td>
                                        <%=rsvp.rsvp%>
                                    </td>
                                    <td>
                                        <form>
                                            <button type="submit" formmethod="GET"
                                                formaction="/bmw/<%=rsvp.postId%>">Update</button>
                                            <button type="submit" formmethod="POST" name="title" value="<%=rsvp.title%>"
                                                formaction="/beamer/delete/rsvp">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                            </table>
                    </table>
                    <%})}%>

                        <div class="theFooter3">
                            <footer>
                                &copy; Beamer Fans,<br> The Best in the Biz
                            </footer>